*{
    margin: 0;
    padding: 0;
}
.bookNow{
    height: 630px;
    display: flex;
    flex-direction: row;
    background: #6882EF ;
}
.cleanSection{
    margin-left: 139px;
    width: 492px;
}
.cleanSection>p{
    width: 231px;
    height: 57px;
    margin-right: 996px;
    margin-top: 32px;
    font-size: 49px;
    color: #FFFFFF;
}
.cleanSection>h1{
    width: 231px;
    height: 57px;
    margin-right: 996px;
    margin-top: 32px;
    font-size: 49px;
    color: #FFFFFF;

}

.cleanSection>button{
    width: 304px;
    height: 57px;
    margin-top: 22px;
    border: 3px solid #F9D859;
    background: none;
    color: #F9D859;
    font-size: 24px;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
}

.bookNow p{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 33px;

}
.calendar{
    max-width: 492px;
    max-height: 351px;
    margin-top: 11px;
    border-radius: 16px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;

}
.calendar>h1{
    width: 108px;
    height: 24px;
    margin-bottom: 25px;
    color: black;
    font-size: 20px;
    text-align: center;
}
.dataZone{
    width: 431px;
    height: 248px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
#weeks{
    width: 325px;
}
.calendar button{
    width: 34px;
    height: 248px;
    border-radius: 16px;
    background: #6781EF;
    border: none;
}
.peopleSection{
    width: 536px;
    margin-left: 60px;
}
.peopleSection p {
    width: 225px;
    height: 16px;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 81px;
}
.peoples{
    width: 536px;
    height: 468px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-top: 14px;
    padding: 21px;

}
.card{
    width: 495px;
    height: 97px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
