*{
    margin: 0;
    padding: 0;
}
.bookNow{
    height: 630px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px 139px 51px;
    background: #6882EF ;
}
.cleanSection{
    /*margin-left: 139px;*/
    width: 492px;
}
.cleanSectionList{
    width: 304px;
    padding: 10px;
    position: relative;
    z-index: 100;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    animation: growDown  300ms ;
    /*ease-in-out forwards;*/

}
.cleanSectionList>button{
    width: 304px;
    height: 57px;
    border: 3px solid #F9D859;
    text-shadow: 1px 1px 2px #e3c251;
    /*6882EF*/
    background: #ffffff;
    color: #F9D859;
    font-weight: 590;
    font-family: MyRelewayMedium;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    font-size: 24px;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
}
/*.cleanSectionList:active{*/
/*    animation: rotateX  300ms ease-in-out forwards;*/
/*}*/
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}
.calendar2{
    position: absolute;
    top:1700px;
    z-index: 1;
}
.cleanSection>p{
    width: 231px;
    height: 57px;
    /*margin-right: 996px;*/
    /*margin-top: 32px;*/
    font-size: 49px;
    color: #FFFFFF;
}
.cleanSection>h1{
    width: 231px;
    height: 57px;
    margin-right: 996px;
    margin-top: 32px;
    font-size: 49px;
    color: #FFFFFF;

}

.cleanSection> button{
    width: 304px;
    height: 57px;
    margin-top: 22px;
    border: 3px solid #F9D859;
    background: none;
    color: #F9D859;
    font-size: 24px;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
}

.bookNow p{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 33px;

}
.calendar{
    max-width: 492px;
    max-height: 351px;
    margin-top: 11px;
    border-radius: 16px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    /*padding-top: 25px;*/
    /*padding-bottom: 25px;*/

}
.calendar>h1{
    width: 108px;
    height: 24px;
    margin-bottom: 25px;
    color: black;
    font-size: 20px;
    text-align: center;
}
.dataZone{
    width: 431px;
    height: 248px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
#weeks{
    width: 325px;
}
.dataZone button{
    width: 34px;
    /*margin-bottom: 25px;*/
    height: 248px;
    border-radius: 16px;
    background: #6781EF;
    border: none;
    padding: 0px;
    margin: 0px;
}
.peopleSection{
    width: 536px;
    margin-left: 60px;
}
.peopleSection p {
    width: 225px;
    height: 16px;
    color: #FFFFFF;
    font-size: 14px;
    /*margin-top: 81px;*/
}
.peoples{
    width: 536px;
    height: 468px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-top: 14px;
    padding: 21px;

}
.card{
    width: 495px;
    height: 97px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.reactCalendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}
