.pos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow:  -20px 20px 60px #d2d2d3,
    20px -20px 60px #ffffff;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 16px;
    box-shadow: 0 20px 30px rgb(0 0 0 / 32%);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    animation: ani 0.5s forwards;

}
@keyframes ani {
    0% {transform: translateX(-150%);}
    100% {transform: translateY(0);}
}
.form p {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}
.form button{
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 1.3rem;
    letter-spacing: .35rem;
    line-height: 1.25rem;
    font-weight: 500;
    /*width: 100%;*/
    border-radius: 0.5rem;
    text-transform: uppercase;
}
.inputs_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
}
.inputs_area div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.inputs_area label{
    /*text-decoration: underline;*/
    font-size: 1.35rem;
    margin-left: 10px;
}
.form>label{
    font-size: 1.35rem;
    margin-left: 10px;
}

.inputs_area input[type="text"], input[type="email"],input[type="time"], button,select,option{
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 1.5rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}
#btn_close{
    background: transparent linear-gradient(90deg, #fd3029 0%, #fdb530 100%) 0% 0% no-repeat padding-box;;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    margin-left: 850px;
    padding: 0;
}
