
.rectangle {
    /*margin-top: 658px;*/
    margin-left: 0;
    width: 100%;
    height: 159px;
    background: #6882EF 0 0 no-repeat padding-box;

}

.rectangle2 {
    position: absolute;
    margin-top: 51px;
    margin-left: 0;
    width: 100%;
    height: 11px;
    background: #FFD836 0 0 no-repeat padding-box;
}
.nav_bar {
    position: relative;
    /*padding-top: 79px;*/
    padding: 65px 139px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav_bar a{
    margin: 0;
    /*width: 172px;*/
    height: 29px;
    text-align: left;
    font: normal normal bold 24px/29px Raleway;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: capitalize;
    text-decoration: none;
}

.regularly:hover, .deep:hover, .office:hover, .windows:hover{
    color: #FFD836;
    cursor: pointer;
}

/*.regularly {*/
/*    margin-left: 200px;*/
/*    width: 219px;*/
/*    height: 29px;*/
/*    text-align: left;*/
/*    font: normal normal bold 24px/29px Raleway;*/
/*    letter-spacing: 0;*/
/*    color: #FFFFFF;*/
/*    text-transform: capitalize;*/
/*    text-decoration: none;*/
/*}*/



/*.deep {*/
/*    margin-left: 105px;*/
/*    width: 172px;*/
/*    height: 29px;*/
/*    text-align: left;*/
/*    font: normal normal bold 24px/29px Raleway;*/
/*    letter-spacing: 0;*/
/*    color: #FFFFFF;*/
/*    text-transform: capitalize;*/
/*    text-decoration: none;*/
/*}*/

/*.office {*/
/*    margin-left: 105px;*/
/*    width: 172px;*/
/*    height: 29px;*/
/*    text-align: left;*/
/*    font: normal normal bold 24px/29px Raleway;*/
/*    letter-spacing: 0;*/
/*    color: #FFFFFF;*/
/*    text-transform: capitalize;*/
/*    text-decoration: none;*/
/*}*/

/*.windows {*/

/*    margin-left: 104px;*/
/*    width: 172px;*/
/*    height: 29px;*/
/*    text-align: left;*/
/*    font: normal normal bold 24px/29px Raleway;*/
/*    letter-spacing: 0;*/
/*    color: #FFFFFF;*/
/*    text-transform: capitalize;*/
/*    text-decoration: none;*/
/*}*/
/*=====================================MEDIA========================================*/
@media screen and (max-width:1216px) {

    .regularly {
        margin-left: 100px;

    }
}
@media screen and (max-width:1116px) {
    .regularly {
        margin-left: 50px;
    }
}

@media screen and (max-width:1068px) {

    .regularly {
        margin-left: 80px;
    }
    .deep {
        margin-left: 52px;
    }
    .office {
        margin-left: 52px;
    }
    .windows {
        margin-left: 52px;
    }
}
@media screen and (max-width:940px) {
    .regularly {
        margin-left: 80px;
    }
    .deep {
        margin-left: 20px;
    }
    .office {
        margin-left: 20px;
    }
    .windows {
        margin-left: 20px;
    }
}
@media screen and (max-width:844px) {
    .regularly {
        margin-left: 42px;
    }
    .deep {
        margin-left: 13px;
    }
    .office {
        margin-left: 13px;
    }
    .windows {
        margin-left: 13px;
    }
}

@media screen and (max-width:800px) {
    .rectangle {
        margin-top: 520px;
    }
}

@media screen and (max-width:784px) {
    .regularly {
        font-size: 20px;
        margin-left: 60px;
    }
    .deep {
        font-size: 20px;
        margin-left: 13px;
    }
    .office {
        font-size: 20px;
        margin-left: 13px;
    }
    .windows {
        font-size: 20px;
        margin-left: 13px;
    }
}
@media screen and (max-width:685px) {
    .regularly {
        margin-left: 10px;
    }
    .deep {
        margin-left: 13px;
    }
    .office {
        margin-left: 13px;
    }
    .windows {
        margin-left: 13px;
    }
}



