.triangle2 {
    position: absolute;
    margin-left: 580px;
    width: 0;
    height: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-bottom: 36px solid #FFD836;
    margin-top: -131px;

}
.gradient02 {
    position: absolute;
    right: 0;
    margin-top: -85px;
    z-index: -1;

    /*width: 500px;*/
    /*height: 100px;*/
    overflow: hidden;
}
.vac_clean2 {
    padding-bottom: 75px;
    margin-top: 98px;
    margin-left: 210px;
    width: 371px;
    height: 390px;
    background: transparent 0 0 no-repeat padding-box;

}
.description4 {
    position: absolute;
    display: inline;
    margin-left: 480px;
    margin-top: -350px;
}
.dp {
    width: 227px;
    height: 57px;
    text-align: left;
    font: normal normal bold 49px/57px Raleway;
    letter-spacing: 0;
    color: #6882EF;
    text-transform: capitalize;

}

.desc6 {
    margin-top: 31px;
    width: 437px;
    height: 43px;
    text-align: left;
    line-height: 21px;
    font-weight: normal;
    font-variant: normal;
    font-style: italic;
    font-size: 16px;
    font-family: Raleway, serif;
    letter-spacing: 0;
    color: #6882EF;
}

.desc7 {

    margin-top: 27px;
    width: 464px;
    height: 160px;
    text-align: left;

    line-height: 21px;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size: 14px;
    font-family: Raleway, serif;

    letter-spacing: 0;
    color: #593D3D;

}

.btn4 {
    margin-top: 24px;
    width: 268px;
    height: 60px;
    background: transparent linear-gradient(90deg, #8DA3FF 0%, #6781EF 100%) 0 0 no-repeat padding-box;
    border-radius: 30px;
    text-align: center;
    font: normal normal bold 24px/29px Raleway;
    letter-spacing: 0;
    color: #FFFFFF;
    border-color: transparent;
}
/*========================================================================MEDIA=============================*/
@media screen and (max-width:1216px) {
    .triangle2 {
        margin-left: 450px;
    }
}
@media screen and (max-width:1116px) {
    .triangle2 {
        margin-left: 400px;
    }
    .vac_clean2 {
        margin-left: 100px;
    }
}
@media screen and (max-width:1068px) {
    .triangle2 {
        margin-left: 370px;
    }
}
@media screen and (max-width:940px) {
    .triangle2 {
        margin-left: 340px;
    }
    .vac_clean2 {
        margin-left: 30px;
    }
    .description4 {
        margin-left: 410px;
    }
}

@media screen and (max-width:844px) {
    .triangle2 {
        margin-left: 290px;
    }
}

@media screen and (max-width:784px) {
    .triangle2 {
        margin-left: 270px;
    }
    .vac_clean002 {
        position: relative;
        width: 320px;
        height: 320px;
        margin-left: 5px;
    }
    .description4 {

        margin-left: 20px;
        margin-top: -20px;
    }
    .dp {
        width: 200px;
        height: 57px;


    }

    .desc6 {
        margin-top: 31px;
        width: 337px;
        height: 43px;
    }

    .desc7 {

        margin-top: 27px;
        width: 300px;
        height: 160px;


    }
    .btn4 {
        margin-top: 50px;
        width: 268px;
    }

}
@media screen and (max-width:768px) {
    .triangle2 {
        margin-left: 270px;
    }
}


