.triangle {
    position: absolute;
    margin-left: 280px;
    width: 0;
    height: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-bottom: 36px solid #FFD836;
    margin-top: -131px;
}

.gradient01 {
    position: absolute;
    right: 0;
    margin-top: -85px;

    /*width: 500px;*/
    height: 1000px;
    overflow: hidden;
    /*margin-bottom: 100px;*/
}
.vac_clean {
    margin-top: 98px;
    margin-left: 139px;
    width: 322px;
    height: 470px;
    background: transparent 0 0 no-repeat padding-box;

}
.description2 {
    position: absolute;
    display: inline;
    margin-left: 105px;
    margin-top: -10px;
}
.rl {
    width: 227px;
    height: 57px;
    text-align: left;
    font: normal normal bold 49px/57px Raleway;
    letter-spacing: 0;
    color: #6882EF;
    text-transform: capitalize;

}

.desc3 {
    margin-top: 31px;
    width: 437px;
    height: 43px;
    text-align: left;
    line-height: 21px;
    font-weight: normal;
    font-variant: normal;
    font-style: italic;
    font-size: 16px;
    font-family: Raleway, serif;
    letter-spacing: 0;
    color: #6882EF;
}

.desc4 {

    margin-top: 27px;
    width: 464px;
    height: 160px;
    text-align: left;

    line-height: 21px;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size: 14px;
    font-family: Raleway, serif;

    letter-spacing: 0;
    color: #593D3D;

}

.btn3 {
    margin-top: 24px;
    width: 268px;
    height: 60px;
    background: transparent linear-gradient(90deg, #8DA3FF 0%, #6781EF 100%) 0 0 no-repeat padding-box;
    border-radius: 30px;
    text-align: center;
    font: normal normal bold 24px/29px Raleway;
    letter-spacing: 0;
    color: #FFFFFF;
    border-color: transparent;

}
/*========================================================MEDIA================================*/
@media screen and (max-width:1216px) {
    .triangle {
        margin-left: 180px;
    }
}
@media screen and (max-width:1116px) {
    .triangle {
        margin-left: 130px;
    }
}
@media screen and (max-width:1068px) {
    .triangle {
        margin-left: 155px;
    }
    .vac_clean {
        margin-left: 90px;
    }
}
@media screen and (max-width:940px) {
    .vac_clean{
        margin-left: 45px;
    }
}
@media screen and (max-width:844px) {
    .triangle {
        margin-left: 120px;
    }
    .vac_clean {
        position: relative;
        margin-left: 40px;
    }
    .vac_clean001 {
        width: 300px;
        height: 350px;
    }
    .description2 {
        margin-left: 40px;
    }
    .rl {
        width: 227px;
        height: 57px;
        text-align: left;
        font: normal normal bold 40px/48px Raleway;
        letter-spacing: 0;
        color: #6882EF;
        text-transform: capitalize;

    }

    .desc3 {
        margin-top: 11px;
        width: 337px;
        height: 43px;
        text-align: left;
        line-height: 21px;
        font-weight: normal;
        font-variant: normal;
        font-style: italic;
        font-size: 16px;
        font-family: Raleway, serif;
        letter-spacing: 0;
        color: #6882EF;
    }

    .desc4 {

        margin-top: 27px;
        width: 264px;
        height: 160px;
        text-align: left;

        line-height: 21px;
        font-weight: normal;
        font-variant: normal;
        font-style: normal;
        font-size: 14px;
        font-family: Raleway, serif;

        letter-spacing: 0;
        color: #593D3D;

    }
    .btn3 {
        margin-top: 24px;
        width: 268px;
        height: 60px;
        margin-left: -20px;
    }
}



