*{
    margin: 0;
    padding: 0;
}
.footer{
    /*max-width: 1366px;*/
    height: 243px;
    background: #F4F5F7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 139px 0;
}
.footer div{
    font-size: 14px;
    width: 168px;
}